* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* fixed css */

a {
    text-decoration: none;
    color: #183b56;
}

ul {
    list-style-type: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 20px;
    overflow: hidden;
}

/* top-banner */

.banner-text {
    text-align: center;
    padding: 15px;
    font-weight: 700;
    font-size: 1.2rem;
}

.top-banner {
    background-color: #4fb3d4;
    color: white;
    background-image: url(asset\ 18.png);
    background-size: 300px;
}

/* navbar */

.logo {
    width: 200px;
}

.main-nav {
    justify-content: space-between;
    /* margin-top: 20px; */
    padding: 20px;
}

.nav-links{
    margin-top: 10px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}

.nav-links ul li {
    font-size: 1.2rem;
}

.primary-button {
    padding: 12px 24px;
    border: 0.5px solid #577582;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 0 2px;
}

.secondary-button {
    padding: 13px 24px;
    background-color: #2294ed;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.hover-links:hover {
    color: #2294ed;
}

.secondary-button:hover {
    background-color: #1d69a3;
    color: white;
}

.nav-toggle {
    display: none;
}

/* header section */

header {
    padding: 40px 20px;
}

.hero-section {
    justify-content: center;
    gap: 50px;
}

.hero-image img {
    width: 100%;
}

.hero-text h1 {
    font-size: 3rem;
    color: #183b56;
    margin-top: 20px;
}

.hero-text {
    margin-right: 50px;
    width: 40vw;
}

.hero-text p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #577582;
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 20px;
}

/* companies section */

.companies-section p{
    text-align: center;
    margin: 20px 0px;
    color: #183b56;
    font-size: 1.1rem;
    font-weight: 550;
}

.companies-section ul {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.companies-logo-1 {
    width: 120px;
}

.companies-logo-2 {
    width: 140px;
}

.companies-logo-3 {
    width: 150px;
}

.companies-logo-4 {
    width: 150px;
}

.companies-logo-5 {
    width: 70px;
}

.companies-logo-6 {
    width: 160px;
}

/* features section */

.features-section {
    padding: 80px 20px 0px;
}

.background {
    background-image: url(featuresbackground.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.feature-header {
    text-align: center;
    margin-top: 40px;
}

.feature-heading-text {
    font-size: 2rem;
    font-weight: 800;
    color: #183b56;
    margin-bottom: 40px;
}

.features {
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.features-box {
    flex-direction: column;
    gap: 25px;
    width: 30%;
}

.features-box img {
    width: 40px;
}

.features-box h2 {
    font-weight: 800;
    color: #183b56;
}

.features-box p {
    font-size: 1.2rem;
    color: #577582;
    text-align: center;
}

/* Big Feature section */

.big-features-section-image img {
    width: 540px;
}

.big-features-section-text {
    text-align: center;
    line-height: 30px;
    color: #183b56;
}

.big-features-section-text p {
    font-size: 1.4rem;
    color: #577582;
    text-align: left;
    margin-left: 30px;
    line-height: 30px;
}

/* Example Section */

.example {
    flex-direction: column;
    padding: 80px 0px;
    gap: 30px;
}

.example h1 {
    font-size: 2rem;
    color: #183b56;
}

.sub-example {
    width: 75%;
    justify-content: space-between;
    margin-block: 40px;
    display: flex;
    flex-wrap: wrap;
}

.example-card {
    width: 23%;
    position: relative;
    height: 300px;
    transition: 0.2s ease-out;
}

.example-card:hover{
    box-shadow: 0px 0px 3px black
}

.sub-example1 {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.9)), url(examples1.jpeg);
    background-size: cover;
}

.sub-example2 {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.9)), url(examples2.jpeg);
    background-size: cover;
}

.sub-example3 {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.9)), url(examples3.jpeg);
    background-size: cover;
}

.sub-example4 {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.9)), url(examples4.jpeg);
    background-size: cover;
}

.example-card h2 {
   position: absolute;
   bottom: 20px;
   left: 20px;
   right: 20px;
   color: white;
   font-size: 1.5rem;
   line-height: 35px;
}

/* cta section */

.cta-section {
    background-color: #183b56;
}

.cta-section-content {
    flex-direction: column;
    gap: 40px;
    padding: 80px 20px;
    color: #ffffff;
}

.cta-section-content h2 {
    font-size: 2rem;
}

.cta-section-content p {
    font-size: 1.5rem;
}

/* Footer-section */

footer {
    padding: 80px 0px;
    background-color: #ebf2fa;
}

.footer-logo {
    width: 230px;
}

.footer-section {
    justify-content: space-between;
}

.footer-box {
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.footer-box h4 {
    color: #183b56;
}

.footer-section {
    align-items: flex-start;
}

.sub-footer {
    background-color: #b9cde4;
    padding: 20px;
}

.sub-footer-content {
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}